.dialog {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}

.dialog a{
	color: #777d74;
	text-decoration: none;
	align-items: center;
	display: flex;
}

.dialog .active {
	color: #05c490;
}

.dialog img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}


