body {
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    padding: 0;
    margin: 0;
	background-color: #f1f3f6;
    color: #777d74;
	overflow: hidden;
}

@media (min-width: 700px) {
	.app-wrapper {
		width: 100%;
		display: grid;
		grid-template-areas:
			'h h h'
			'n ph f'
			'n pc f';
		grid-template-rows: 70px 20em 1fr;
		grid-template-columns: 2fr 8fr 2fr;	
		grid-gap: 20px;
	}
}




