body {
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    padding: 0;
    margin: 0;
	background-color: #f1f3f6;
    color: #777d74;
}

.app-wrapper-content {
	overflow: hidden;
    padding: 85px 15px 0;
    min-height: 100vh;
	max-width: 900px;
	margin: 0 auto;
}




