.dialogs {
	display: grid;
	grid-template-columns: 3fr 10fr;
	width: 100%;
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
}

.dialog a{
	padding: 15px;
	color: #777d74;
	text-decoration: none;
}

.dialog a .active {
	color: #05c490;
}